
*{
    box-sizing: border-box;
}
header {
    padding: 2%;
    background-color: #435560;
    position: relative;
}
.image {
    width: 15%;
    padding-top: 1%;
    padding-left: 2%;
    position: absolute;
    left: 21%;
    bottom: 54%;
    opacity: 0.8;
}
h1{
    position: absolute;
    top: 38%;
    right: 62%;
    color: #c8c6a7;
    text-shadow: 2px 2px #6e7c7c;
    font-family: 'Padauk', sans-serif;
    border-top: 1px solid #c8c6a7;
}
header p {
    position: absolute;
    top: 65%;
    right: 62.8%;
    color: #c8c6a7;
    font-family: 'Jura', sans-serif;
}
#color{
    color: #a04927;
}
header nav ul {
    height: 35%;
    position: relative;
}
header nav ul li {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: relative;
    left: 65%;
}
header nav ul li a {
    text-decoration: none;
    position: absolute;
    top: 30%;
    left: 10%;
    color: #c8c6a7;
    font-size: 20px;
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}
header a:hover{
    background-color: #c8c6a7;
    color: #435560;
}
body {
    background-color: #c8c6a7;
    margin:0%;
}
section {
    position: relative;
}
#sec1{
    position: absolute;
    left: 20%;
    top: 50%;
    margin: 2%;
    border: 2px solid #6e7c7c;
    padding: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 5px #111;  
}

#section2 {
    position: absolute;
    top: 100%;
    left: 22.1%;
}
.section3 {
    position: absolute;
    top: 100%;
    left: 53.5%;
}
.card{
    position: relative;
    width: 350px;
    height: 220px;
    margin: 1%;
    border: 2px solid #6e7c7c;
    padding: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 5px #111;  
}
.card:hover {
    opacity: 0.3;
}
#sec1:hover {
    opacity: 0.3;
}
#tableCheck{
    position: absolute;
    top: 170%;
    left: 26%;
    overflow: scroll;
    height: 25%;
    width: 45%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 5px #111;  
}
table {
    font-family: 'Padauk', sans-serif;
}
#tHeading {
    padding: 3%;
    width: 10%;
    font-size: 19px;
    background-color: #6e7c7c;
    color: #222831;
    text-shadow: 2px 2px #c8c6a7;
}

#tRow {
    text-align: center;
    font-size: 17px;
    background-color: #6e7c7cab;
    font-family: 'Padauk', sans-serif;
    color: #222831;
}

footer {
    background-color: #435560;
    position: absolute;
    top: 200%;
    width: -webkit-fill-available;
    color: #c8c6a7;
    font-size: 17px;
    font-family: 'Jura', sans-serif;
}

footer ul li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    top: 30%;
    left: 10%;
    color: #c8c6a7;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
footer ul li img {
    width: 2.7%;
}
.check{
    width: 3%
} 
