*{
    box-sizing: border-box;
}
header {
    padding: 20px;
    background-color: #435560;
    position: relative;
}
.image {
    width: 10%;
    transform: skewY(-22deg);
    padding-top: 2%;
    padding-left: 2%;
    position: absolute;
    left: 15%;
    bottom: 47%;
}
h1{
    position: absolute;
    top: 18%;
    right: 62%;
    color: #c8c6a7;
    text-shadow: 2px 2px #6e7c7c;
    font-family: Arial, Helvetica, sans-serif;
}
header nav ul {
    height: 35%;
    position: relative;
}
header nav ul li {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: relative;
    left: 65%;
}
header nav ul li a {
    text-decoration: none;
    position: absolute;
    top: 30%;
    left: 10%;
    color: #c8c6a7;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
body {
    background-color: #c8c6a7;
    margin:0%;
}
table {
    width: 15%;
    height: 35%;
    padding-left: 20%;
    padding-top: 10%;
}

table th {
    border: 1px solid #2b4f60;
    text-align: center;
}

table tr td {
    text-align: center;
    padding-top: 2%;
    border: 1px solid #2b4f60;
}

