.image {
    width: 20%;
    transform: skewY(-20deg);
    padding-top: 1%
}
h1{
    padding-left: 20%;
    border: 1px solid #2b4f60;
}

body {
    background-color: #845460;
}
table {
    padding-left: 15%;
    padding-top: 10%;
}

table th {
    padding-left: 1%;
    border: 1px solid #2b4f60;
}

table tr td {
    text-align: center;
    padding-top: 2%;
    border: 1px solid #2b4f60;
}